<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Krikri</title>
  <%= stylesheet_link_tag    "krikri/application", media: "all" %>
  <%= javascript_include_tag "krikri/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
