<% # krikri/harvest_sources/show %>
<h1>Harvest Source</h1>
<p>Name: <%= @harvest_source.name %></p>
<p>Source type: <%= @harvest_source.source_type %></p>
<p>Metadata schema: <%= @harvest_source.metadata_schema %></p>
<p>URI: <%= @harvest_source.uri %></p>
<p>Notes: <%= @harvest_source.notes %></p>