<% content_for :title do %>QA Record: <%= @document.id.html_safe %><% end %>

<div id='main-container' class='container'>
  <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

  <h1>Record</h1>
  <h2><%= @document.id.html_safe %></h2>

  <%= link_to "Random record from #{provider_name(@provider_id)}",
      { :controller => 'records', :action => 'show',
  :id => random_record_id(@provider_id), :provider => @provider_id },
  :method => :get, :class => 'btn btn-primary' %>

  <div class='row'>
    <div class='col-md-6 col-sm-6'>
      <h3>Enriched Record</h3>
      <pre class='pre-scrollable'><%= render_enriched_record(@document) %></pre>
    </div>

    <div class='col-md-6 col-sm-6'>
      <h3>Original Record</h3>
      <pre class='pre-scrollable'><%= render_original_record(@document) %></pre>
    </div>
  </div>
</div>
