<% content_for :title do %>Validation Reports<% end %>

<%= render partial: 'shared/ajax_modal' %>

<div id="main-container" class="container">
  <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>
  <div class="row"> 
    <div id="content" class="col-md-12">

    <% unless has_search_parameters? %>
      <%= render 'home' %>
    <% else %>
      <h2>Validation Report: <%= params[:report_name] %></h2>
      <%= render 'search_results' %>
    <% end %>
    
  </div>
</div>
