<% content_for :title do %>Validation Report - <%= params[:id] %><% end %>

<div id="main-container" class="container">
  <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

  <h1>Validation Report: <%= params[:id] %></h1>
  <h2><%= current_provider_name %></h2>
  <p>
    The following records have missing values for 
    <code><%= params[:id] %></code>.
  </p>

  <%= render "validation_report" %>

</div>
