<div id='header-navbar' class='navbar navbar-inverse navbar-static-top' role='navigation'>
  <div class='container'>
    <div class='navbar-right'>
      <ul class='nav navbar-nav'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'
            role='button' aria-expanded='false'>
            <%= provider_name(@current_provider) %> <span class="caret"></span>
          </a>
          <ul class='dropdown-menu' role='menu'>

            <% if @current_provider.present? %>
              <li>
                <%= link_to_current_page_by_provider(@current_provider) %>
              </li>
              <li class='divider'></li>
            <% end %>

            <% available_providers.each do |provider| %>
              <% if @current_provider.nil? || provider.rdf_subject != @current_provider.rdf_subject %>
                <li><%= link_to_current_page_by_provider(provider) %></li>
              <% end %>
            <% end %>
          </ul>
        </li>

        <% if @current_provider.present? %>
          <li><%= link_to 'Dashboard',
            krikri.provider_path(@current_provider.id) %></li>
          <li><%= link_to 'Records',
            krikri.records_path(provider: @current_provider.id) %></li>
          <li><%= link_to 'Reports',
            krikri.reports_path(provider: @current_provider.id) %></li>
        <% else %>
          <li><%= link_to 'Dashboard', krikri.providers_path %></li>
          <li><%= link_to 'Records', krikri.records_path %></li>
          <li><%= link_to 'Reports', krikri.reports_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
