<div id='header-navbar' class='navbar navbar-inverse navbar-static-top' role='navigation'>
  <div class='container'>
    <div class='navbar-right'>
      <ul class='nav navbar-nav'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' 
            role='button' aria-expanded='false'>
            <%= provider_name(@current_provider) %> <span class="caret"></span>
          </a>
          <ul class='dropdown-menu' role='menu'>

            <% if current_provider_id.present? %>
              <li><%= link_to_current_page_by_provider(:all) %></li>
              <li class='divider'></li>
            <% end %>

            <% available_providers.each do |provider| %>
              <li><%= link_to_current_page_by_provider(provider.value) %></li>
            <% end %>
          </ul>
        </li>

        <% if current_provider_id.present? %>
          <li><%= link_to 'Dashboard', 
            krikri.providers_path(current_provider_id) %></li>
          <li><%= link_to 'Records', 
            krikri.records_path(provider_id: current_provider_id) %></li>
          <li><%= link_to 'Reports', 
            krikri.reports_path(provider_id: current_provider_id) %></li>
        <% else %>
          <li><%= link_to 'Dashboard', krikri.providers_path %></li>
          <li><%= link_to 'Records', krikri.records_path %></li>
          <li><%= link_to 'Reports', krikri.reports_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
